TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=5384335200,1948372223
PORT=5173
DJANGO_SECRET_KEY=
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,cosmobeads.onrender.com
DJANGO_CSRF_TRUSTED_ORIGINS=https://cosmobeads.onrender.com
